{% load static %}

<div class="lunch">
    <div style="background-image:url('{% static "img/design/item_03.jpg" %}')" class="lunch__image"></div>
    <div class="lunch__desc">
        <div class="lunch__top">
            <div data-desc="{{ dinner.weight }} гр / {{ dinner.calorie }} ккал"
                 class="lunch__title">
                {{ dinner.name }}
            </div>
            <div class="lunch__cost">{{ dinner.price }}</div>
        </div>
        <div class="lunch__box">
            <div class="lunch__item lunch__item-hot">{{ dinner.soup }}</div>
            <div class="lunch__item lunch__item-second">{{ dinner.second }}</div>
            <div class="lunch__item lunch__item-salad">{{ dinner.salad }}</div>
            <div class="lunch__item lunch__item-dessert">{{ dinner.dessert }}</div>
        </div>
        <div class="lunch__control">
            <div class="lunch__control-text">Выбрать количество порций</div>
            <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                    <form action="{% url 'remove_item' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="remove_item" value="{{ item.id }}">
                        <button type="submit" class="round-button minus"></button>
                    </form>
                </div>
                <div class="lunch__control-count">{{ item.quantity }}</div>
                <div class="lunch__control-plus">
                    <form action="{% url 'add_item' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="add_item" value="{{ item.id }}">
                        <button type="submit" class="round-button plus"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
