{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="ru" class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <!--meta(name="viewport" content="width=1240")-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1,user-scalable=0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="layout">
    <div class="layout__page">
        <div class="header">
            <div class="layout__inner">
                <div class="header__cont">
                    <div class="header__logo"><a href="{% url 'home' %}" class="logo"></a>
                    </div>
                    <div class="header__date">
                        <div data-month="{{ today|date:'F' }}" data-day="{{ today|date:'l' }}"
                             class="header__date-item">{{ today|date:'d' }}
                        </div>
                    </div>
                    <a href="{% url 'weekly_menu' %}" class="header__title">МЕНЮ НА НЕДЕЛЮ</a>
                    <div class="header__cart"><a class="cart"><span
                            class="cart__text">В КОРЗИНЕ:</span><span
                            class="cart__count">100</span><span class="cart__cost">1000</span></a>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="header__login"><a href="{% url 'account' %}" class="button button__akk">Личный кабинет</a></div>
                    {% else %}
                        <div class="header__login"><a class="button button__login">Войти</a></div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="page-buffer"></div>
    </div>
    <div class="footer">
        <div class="layout__inner">
            <div class="footer__cont">
                <div class="footer__copyright">all rights reserved copyright © 2017</div>
                {% if user.is_authenticated %}
                <div class="footer__button">
                    <a href="{% url 'logout' %}" class="button button__logout">выйти</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>